<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title id="index">P Financial App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../jp/vendor/bootstrap/css/bootstrap.min.css">
    <link href="../css/select.bootstrap.min.css" rel="stylesheet">
    <link href="../vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="../jp/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="../jp/css/fontastic.css">
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <!-- jQuery Circle-->
    <link rel="stylesheet" href="../jp/css/grasp_mobile_progress_circle-1.0.0.min.css">
    <!-- Custom Scrollbar-->
    <link rel="stylesheet" href="../jp/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="../jp/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="../jp/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="../jp/img/favicon.ico">
    <!-- Charge form CSS -->
    <!--<link href="css/Payment.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">-->

    <!-- Bootstrap Datepicker CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css"/>
    <!--<link href="css/colors.css" rel="stylesheet">-->
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <!-- Include to display modals -->
    <%- include('partials/sidebarnav') %>
    <%- include('partials/modals') %>

    <div class="page">

      <%- include('partials/headers') %>

      <!-- Statistics Section-->
      <br>
      <div id="wrapper">

        <div id="content-wrapper">
          <%if (pageTitle == "monthlyAnalysis") {%>
          <div class="container-fluid">
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" name="monthlyAnalysisForm" action="/analysis/monthlyAnalysis" method="post">
              <legend>Monthly Analysis</legend>
              <label class="control-label" for="date">Date</label>
              <input class="form-control" required id="date" name="date" placeholder="MM/YYYY" type="text"/>
              <div class="modal-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-info">Submit</button>
              </div>
            </form>
          </div>
          <!-- /.container-fluid -->
          <%} else if (pageTitle == "yearlyAnalysis") {%>
            <div class="container-fluid">
              <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" name="yearlyAnalysisForm" action="/analysis/yearlyAnalysis" method="post">
                <legend>Yearly Analysis</legend>
                <label class="control-label" for="date">Date</label>
                <input class="form-control" required id="date" name="date" placeholder="YYYY" type="text"/>
                <div class="modal-footer d-flex justify-content-center">
                  <button type="submit" class="btn btn-info">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.container-fluid -->
          <%} else {%>
            <div class="container-fluid">
              <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" id= "chargesAnalysisForm" name="chargesAnalysisForm" action="/analysis/chargesAnalysis" method="post">
                <legend>Charges Analysis</legend>
                <div class="form-group" id="chargeCategory">
                  <label for="chargeAType" style="margin-left:10px;">Category:</label>
                  <select class="form-control" required name="chargeAType" id="chargeAType">
                    <option value="none" selected disabled hidden>Choose</option>
                    <option value="Vendor">Vendor</option>
                    <option value="paymentType">Payment Type</option>
                    <option value="commentType">Comment</option>
                  </select>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-info">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.container-fluid -->
          <%}%>
        </div>
        <!-- /.content-wrapper -->

      </div>
      <!-- /#wrapper -->
      <footer class="main-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <p>Jon Pawlowski &copy; 2019</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- JavaScript files-->
    <!-- JQuery JS Files -->
    <script src="../vendor/jquery/jquery.js"></script>
    <script src="../jp/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="../jp/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../jp/js/grasp_mobile_progress_circle-1.0.0.min.js"></script>
    <script src="../jp/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <!--<script src="jp/vendor/chart.js/Chart.min.js"></script>-->
    <script src="../jp/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="../jp/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- Main File-->
    <script src="../jp/js/front.js"></script>
    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

    <script>
      $(document).ready(function(){
        var currentURL = document.location.href;
        var dateOptions = {};
        if (currentURL.includes("monthlyAnalysis")) {
          dateOptions = {
            format: "MM yyyy",
            minViewMode: 1,
            autoclose: true,
            startDate: '01 2019',
            endDate: "0d"
          };
        } else {
          dateOptions = {
            format: " yyyy",
            minViewMode: 2,
            autoclose: true,
            startDate: '2019',
            endDate: new Date().getFullYear().toString()
          };
        }

        var date_input=$('input[name="date"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        var options=dateOptions;
        date_input.datepicker(options);
      })
    </script>
    <script>
      $("#chargeAType").change(function () {
        const paymentTypeHTML = '<div class="form-group" id="analysisElement"><label for="paymentType" style="margin-left:10px;">Payment Type:</label><select class="form-control" required name="analysisType" id="analysisType"><option value="AmEx Platinum">AmEx Platinum</option><option value="Cash">Cash</option><option value="Chase Sapphire">Chase Sapphire</option><option value="Credit">Credit</option></select></div>'
        const vendorHTML = '<div class="form-group" id="analysisElement"><label for="vendors" style="margin-left:10px;">Vendor:</label><select class="form-control" name="analysisType" required id="analysisType"><option value="none" selected disabled hidden>Choose</option><%for(let i=0; i<vendorList.length; i++) {%><option><%=vendorList[i]%></option><%}%></select></div>'
        const commentHTML = '<div class="form-group" id="analysisElement"><label for="commentType" style="margin-left:10px;">Comment:</label><select class="form-control" name="analysisType" required id="analysisType"><option value="none" selected disabled hidden>Choose</option><%for(let i=0; i<commentsList.length; i++) {%><option><%=commentsList[i]%></option><%}%></select></div>'
        //var i = 0;
        //$('.input-group').children('input').remove() *for reset the inbox on change*
        //while (i < parseInt($(this).val())) {
        $("#analysisElement").remove();
        const categoryType = document.getElementById("chargeAType").value;
        // Add a new text box depending on the type of analysis chosen
        if ( categoryType == "Vendor" ) {
          $("#chargeCategory").append(vendorHTML);
        } else if ( categoryType == "paymentType" ) {
          $("#chargeCategory").append(paymentTypeHTML);
        } else {
          $("#chargeCategory").append(commentHTML);
        }


          //i++;
        //}
      })
    </script>
  </body>
</html>
