<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title id="index">P Financial App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../jp/vendor/bootstrap/css/bootstrap.min.css">
    <link href="../css/select.bootstrap.min.css" rel="stylesheet">
    <link href="../vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="../jp/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="../jp/css/fontastic.css">
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <!-- jQuery Circle-->
    <link rel="stylesheet" href="../jp/css/grasp_mobile_progress_circle-1.0.0.min.css">
    <!-- Custom Scrollbar-->
    <link rel="stylesheet" href="../jp/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="../jp/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="../jp/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="../jp/img/favicon.ico">
    <!-- Charge form CSS -->
    <!--<link href="css/Payment.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">-->
    <!--<link href="css/colors.css" rel="stylesheet">-->
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <!-- Include to display modals -->
    <%- include('partials/modals') %>
    <%- include('partials/sidebarnav') %>
    <%- include('partials/functions') %>

    <div class="page">

      <%- include('partials/headers') %>

      <!-- Statistics Section-->
      <br>
      <section class="charts">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg">
              <div class="card">
                <div class="card-header d-flex align-items-center">
                  <h4><%=reqInfo%> - Charges for the Past 12 Months</h4>
                </div>
                <div class="card-body">
                  <div class="chart-container">
                    <canvas id="chargesAnalysisMonthly" class="chart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <br>
      <footer class="main-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <p>Jon Pawlowski &copy; 2019</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- JavaScript files-->
    <!-- Datatables JS Files -->
    <script src="../vendor/jquery/jquery.js"></script>
    <script src="../vendor/datatables/jquery.dataTables.js"></script>
    <script src="../vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="../vendor/datatables/dataTables.responsive.min.js"></script>
    <script src="../vendor/datatables/dataTables.buttons.min.js"></script>
    <script src="../vendor/bootstrap/js/responsive.bootstrap.min.js"></script>
    <script src="../vendor/datatables/dataTables.select.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="../vendor/chart.js/Chart.js"></script>
    <!--<script src="jp/vendor/jquery/jquery.min.js"></script>-->

    <script src="../jp/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="../jp/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../jp/js/grasp_mobile_progress_circle-1.0.0.min.js"></script>
    <script src="../jp/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <!--<script src="jp/vendor/chart.js/Chart.min.js"></script>-->
    <script src="../jp/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="../jp/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <!--<script src="jp/js/charts-home.js"></script>-->
    <script src="../js/moment.min.js"></script>
    <script src="../js/datetime-moment.js"></script>
    <!-- Datatables scripts for this page-->
    <script src="../js/demo/datatables-demo.js"></script>
    <!-- Main File-->
    <script src="../jp/js/front.js"></script>
    <!-- script to create total monthly doughnut chart. located in ejs partial monthlyCharts.ejs -->
    <script>
      var chargesAnalysisMonthly = new Chart(document.getElementById('chargesAnalysisMonthly'), {
        type: 'line',
        data: {
          labels: ["<%-monthYear[11].month%>", "<%-monthYear[10].month%>", "<%-monthYear[9].month%>", "<%-monthYear[8].month%>", "<%-monthYear[7].month%>", "<%-monthYear[6].month%>", "<%-monthYear[5].month%>", "<%-monthYear[4].month%>", "<%-monthYear[3].month%>", "<%-monthYear[2].month%>", "<%-monthYear[1].month%>", "<%-monthYear[0].month%>"],
          datasets: [
            {
              data: [<%=monthYear[11].total%>,<%=monthYear[10].total%>,<%=monthYear[9].total%>,<%=monthYear[8].total%>,<%=monthYear[7].total%>,<%=monthYear[6].total%>,<%=monthYear[5].total%>,<%=monthYear[4].total%>,<%=monthYear[3].total%>,<%=monthYear[2].total%>,<%=monthYear[1].total%>,<%=monthYear[0].total%>],
              borderColor: "#c45850",
              fill: false
            }
          ]
        },
        options: {
          responsive: true,
          legend: {
            display: false
         },
         tooltips: {
           mode: 'label',
           label: 'mylabel',
           callbacks: { // format the currency to the format $123.45
             label: function(tooltipItem, data) {
               var currency = data['datasets'][0]['data'][tooltipItem['index']];
               currency = ' $' + currency.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
               return currency;
             },
           },
         }
        }
      });

    </script>
  </body>
</html>
