<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="src/config/category_payment_commercial.png">

    <title id="index">Pawlowski Financial App</title>

    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/responsive.bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!--<link href="vendor/datatables/jquery.dataTables.min.css" rel="stylesheet">-->

    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">
    <link href="css/css-cms.css" rel="stylesheet">
    <link href="css/css.css" rel="stylesheet">
    <link href="css/Payment.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">
    <link href="css/colors.css" rel="stylesheet">
    <link href="css/select.bootstrap.min.css" rel="stylesheet">
    <link href="css/financeApp.css" rel="stylesheet">

  </head>

  <body id="page-top">
    <%- include('partials/functions') %>

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="/">Pawlowski Financial App</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" formaction="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search   -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
            <button class="btn btn-primary" type="button"></button>
              <i class="fas fa-search"></i>
        </div>
      </form>

      <%- include('partials/navbar') %>

    </nav>

    <div id="wrapper">

      <%- include('partials/sidebar') %>
      <!-- Modal popup for editing of an existing charge -->
      <div class="modal fade" id="modalNewChargeForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header text-center">
                      <h4 class="modal-title w-100 font-weight-bold">Enter a New Charge</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="CardEntryContainer">
                    <form name="newChargesForm" action="/newCharges" method="post">
                      <div class="CardEntryForm section">
                        <div class="formsection column_2">
                          <div class="content formcolumn">
                            <div class="CardEntry-Field">
                              <label for="chargeDate" style="margin-left:10px;">Charge Date:</label>
                              <input class="FieldInputBox" name="formChargeDate" required id="formChargeDate" type="date" value="<%=todaysDate%>" max="<%=todaysDate%>"/>
                            </div>
                            <div class="CardEntry-Field">
                              <label for="vendor" style="margin-left:10px;">Vendor:</label>
                              <input class="FieldInputBox" name="vendor" required id="vendor" type="text" list="vendors"/>
                                <datalist id="vendors">
                                  <%for(let i=0; i<vendorList.length; i++) {%>
                                    <option><%=vendorList[i]%></option>
                                  <%}%>
                                </datalist>
                            </div>
                            <div class="CardEntry-Field">
                              <label for="amount" style="margin-left:10px;">Amount:</label>
                              <input class="FieldInputBox" name="formAmount" required id="formAmount" type="number" step=".01"/>
                            </div>
                            <div class="CardEntry-Field">
                              <label for="paymentType" style="margin-left:10px;">Payment Type:</label>
                              <select class="FieldInputBox" required name="paymentType" id="paymentType">
                                <option value="AmEx Platinum">AmEx Platinum</option>
                                <option value="Cash">Cash</option>
                                <option value="Chase Sapphire">Chase Sapphire</option>
                                <option value="Credit">Credit</option>
                                <option value="Debit">Debit</option>
                              </select>
                            </div>
                            <div class="CardEntry-Field">
                              <label for="category" style="margin-left:10px;">Category:</label>
                              <select class="FieldInputBox" required name="category" id="category">
                                <option value="Monthly">Monthly</option>
                                <option value="One-time">One-time</option>
                                <option value="Recurring">Recurring</option>
                              </select>
                            </div>

                            <div class="CardEntry-Field">
                              <label for="comments" style="margin-left:10px;">Comments:</label>
                              <input class="FieldInputBox" name="comments" id="comments" type="text"/>
                            </div>

                          </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                          <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
              </div>
          </div>
        </div>

        <!-- Modal popup for editing of an existing charge -->
        <div class="modal fade" id="modalEditChargeForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Edit Charge</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="CardEntryContainer">
                      <form name="editChargesForm" action="/editCharges" method="post">
                        <div class="CardEntryForm section">
                          <div class="formsection column_2">
                            <div class="content formcolumn">
                              <input type="hidden" id="editFormId" name="editFormId"/>
                              <div class="CardEntry-Field">
                                <label for="editFormChargeDate" style="margin-left:10px;">Charge Date:</label>
                                <input class="FieldInputBox" name="editFormChargeDate" required id="editFormChargeDate" type="date" max="<%=todaysDate%>"/>
                              </div>
                              <div class="CardEntry-Field">
                                <label for="editFormVendor" style="margin-left:10px;">Vendor:</label>
                                <input class="FieldInputBox" name="editFormVendor" required id="editFormVendor" type="text" list="editVendors"/>
                                  <datalist id="editVendors">
                                    <%for(let i=0; i<vendorList.length; i++) {%>
                                      <option><%=vendorList[i]%></option>
                                    <%}%>
                                  </datalist>
                              </div>
                              <div class="CardEntry-Field">
                                <label for="editFormAmount" style="margin-left:10px;">Amount:</label>
                                <input class="FieldInputBox" name="editFormAmount" required id="editFormAmount" type="number" step=".01"/>
                              </div>
                              <div class="CardEntry-Field">
                                <label for="editFormPaymentType" style="margin-left:10px;">Payment Type:</label>
                                <select class="FieldInputBox" required name="editFormPaymentType" id="editFormPaymentType">
                                  <option value="AmEx Platinum">AmEx Platinum</option>
                                  <option value="Cash">Cash</option>
                                  <option value="Chase Sapphire">Chase Sapphire</option>
                                  <option value="Credit">Credit</option>
                                  <option value="Debit">Debit</option>
                                </select>
                              </div>
                              <div class="CardEntry-Field">
                                <label for="editFormCategory" style="margin-left:10px;">Category:</label>
                                <select class="FieldInputBox" required name="editFormCategory" id="editFormCategory">
                                  <option value="Monthly">Monthly</option>
                                  <option value="One-time">One-time</option>
                                  <option value="Recurring">Recurring</option>
                                </select>
                              </div>

                              <div class="CardEntry-Field">
                                <label for="editFormComments" style="margin-left:10px;">Comments:</label>
                                <input class="FieldInputBox" name="editFormComments" id="editFormComments" type="text"/>
                              </div>

                            </div>
                          </div>
                          <div class="modal-footer d-flex justify-content-center">
                            <button type="Submit" class="btn btn-info" id="btnEdit">Submit</button>
                          </div>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
          </div>

      <div id="content-wrapper">

        <div class="container-fluid">
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-chart-area"></i>
              Current Budget for <%=currentMonth%>
            </div>
            <br>
          <!-- Area Chart Example-->
          <div class="b-dashboard-accounts-item mod_nonhsa">
            <div class = "row">
              <div class="column">
                <br>
              <div id='d1' style="position:relative; top:0px; left:50px">
                  <canvas id="monthlyBudgetChart" width="400" height="400"></canvas>
              </div>
                <br>
                <div class="b-dashboard-accounts-info">
                  <div class="b-dashboard-col70">
                      <div class="b-dashboard-accounts-balance">
                          Available<span><span><%= currencyFormatted(budgetRemaining) %></span></span>
                          <div class="b-dashboard-accounts-balance-circle" style="background: rgb(102, 179, 96);"></div>
                      </div>
                  </div>
                  <div class="b-dashboard-col70">
                      <div class="b-dashboard-accounts-balance">
                        Spent<span><%= currencyFormatted(totalMonthlyCharges) %></span>
                        <div class="b-dashboard-accounts-balance-circle" style="background: rgb(146, 182, 199);"></div>
                      </div>
                  </div>
                  <div class="b-dashboard-col70">
                      <div class="b-dashboard-accounts-balance">
                        On Budget Number<span><%= currencyFormatted(currentOnBudget) %></span>
                      </div>
                  </div>
                </div>
            </div>
              <div class = "column">
                <br>
                <!-- Circle Chart for monthly budget -->
                  <div id='d2' style="position:relative; top:0px; left:50px">
                    <canvas id="totalMonthlyChart" width="500" height="400"></canvas>
                  </div>
                <br>
                <div class="b-dashboard-accounts-info">
                  <div class="b-dashboard-col70">
                      <div class="b-dashboard-accounts-balance">
                          Total Monthly Spend<span><span><%= currencyFormatted(allMonthlyCharges) %></span></span>
                          <div class="b-dashboard-accounts-balance-circle" style="<%=totalMonthlyFillColor%>"></div>
                      </div>
                  </div>
                </div>
              </div> <!-- add other column -->
            </div>
          </div>
          <br>
          <div class="card-footer small text-muted">Last Generated <%= new Date() %></div>
        </div>
          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Charges for the Month of <%=currentMonth%></div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped table-bordered nowrap" id="recentChargesTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Date</th>
                      <th>Vendor</th>
                      <th>Amount</th>
                      <th>Payment Type</th>
                      <th>Category</th>
                      <th>Comments</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%if (monthlyCharges.length==0) {%>
                    <tr>
                      <td>None</td>
                      <td>None</td>
                      <td>None</td>
                      <td>None</td>
                      <td>None</td>
                      <td>None</td>
                      <td>None</td>
                    <%} else {%>
                    <%for(let i=0; i<monthlyCharges.length; i++) {%>
                    <tr>
                      <td><%=monthlyCharges[i]._id%></td>
                      <td><%=("0" + (monthlyCharges[i].chargeDate.getMonth()+1)).slice(-2) + '/' + ("0" + monthlyCharges[i].chargeDate.getDate()).slice(-2) + '/'+ monthlyCharges[i].chargeDate.getFullYear();%></td>
                      <td><%=monthlyCharges[i].vendor%></td>
                      <td><%= currencyFormatted(monthlyCharges[i].amount) %></td>
                      <td><%=monthlyCharges[i].paymentType%></td>
                      <td><%=monthlyCharges[i].category%></td>
                      <td><%=monthlyCharges[i].comments%></td>
                    </tr>
                    <%}}%>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Last Updated <%if (monthlyCharges.length==0) {%> N/A <%} else {("0" + (monthlyCharges[0].chargeDate.getMonth()+1)).slice(-2) + '/' + ("0" + monthlyCharges[0].chargeDate.getDate()).slice(-2) + '/'+ monthlyCharges[0].chargeDate.getFullYear();}%></div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.js"></script>

    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="vendor/datatables/dataTables.responsive.min.js"></script>
    <script src="vendor/datatables/dataTables.buttons.min.js"></script>
    <script src="vendor/bootstrap/js/responsive.bootstrap.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>

    <!-- Datatables scripts for this page-->
    <script src="js/demo/datatables-demo.js"></script>
    <!--<script src="js/demo/chart-area-demo.js"></script>-->
    <script src="js/moment.min.js"></script>
    <script src="js/datetime-moment.js"></script>
    <script src="vendor/datatables/dataTables.select.min.js"></script>

    <!-- script to create total monthly doughnut chart. located in ejs partial monthlyCharts.ejs -->
    <%- include('partials/monthlyCharts') %>

  </body>

</html>
