<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pawlowski Financial App</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/scrolling-nav.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/charges">All Charges</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/analysis">Analysis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>Welcome to the Pawlowski Financial App</h1>
        <p class="lead">Tracking and analyzing charges</p>
      </div>
    </header>

    <p class="lead">Recent Charges</p>
    <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Vendor</th>
        <th scope="col">Amount</th>
        <th scope="col">Payment Type</th>
        <th scope="col">Comments</th>
      </tr>
    </thead>
    <tbody>
      <%for(let i=0; i<recentCharges.length; i++) {%>
      <tr>
        <td><%=(recentCharges[i].chargeDate.getMonth()+1) + '/' + recentCharges[i].chargeDate.getDate() + '/'+ recentCharges[i].chargeDate.getFullYear();%></td>
        <td><%=recentCharges[i].vendor%></td>
        <td><%='$' + recentCharges[i].amount.toFixed(2)%></td>
        <td><%=recentCharges[i].paymentType%></td>
        <td><%=recentCharges[i].comments%></td>
      </tr>
      <%}%>
    </tbody>
  </table>
  <button onclick="location.href=/newCharges">New Charge</button>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; JPow 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="js/scrolling-nav.js"></script>

  </body>

</html>
