<!-- Modal popup for entering a new charge -->
<div class="modal fade" id="modalNewChargeForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Enter a New Charge</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="CardEntryContainer">
              <form name="newChargesForm" action="/charges/newCharges" method="post">
                <div class="CardEntryForm section">
                  <div class="formsection column_2">
                    <div class="content formcolumn">
                      <div class="CardEntry-Field">
                        <label for="chargeDate" style="margin-left:10px;">Charge Date:</label>
                        <input class="FieldInputBox" name="formChargeDate" required id="formChargeDate" type="date" value="<%=todaysDate%>" max="<%=todaysDate%>"/>
                      </div>
                      <div class="CardEntry-Field">
                        <label for="vendor" style="margin-left:10px;">Vendor:</label>
                        <input class="FieldInputBox" name="vendor" required id="vendor" type="text" list="vendors"/>
                          <datalist id="vendors">
                            <%for(let i=0; i<vendorList.length; i++) {%>
                              <option><%=vendorList[i]%></option>
                            <%}%>
                          </datalist>
                      </div>
                      <div class="CardEntry-Field">
                        <label for="amount" style="margin-left:10px;">Amount:</label>
                        <input class="FieldInputBox" name="formAmount" required id="formAmount" type="number" step=".01"/>
                      </div>
                      <div class="CardEntry-Field">
                        <label for="paymentType" style="margin-left:10px;">Payment Type:</label>
                        <select class="FieldInputBox" required name="paymentType" id="paymentType">
                          <option value="AmEx Platinum">AmEx Platinum</option>
                          <option value="Cash">Cash</option>
                          <option value="Chase Sapphire">Chase Sapphire</option>
                          <option value="Credit">Credit</option>
                          <option value="Debit">Debit</option>
                        </select>
                      </div>
                      <div class="CardEntry-Field">
                        <label for="category" style="margin-left:10px;">Category:</label>
                        <select class="FieldInputBox" required name="category" id="category">
                          <option value="Monthly">Monthly</option>
                          <option value="One-time">One-time</option>
                          <option value="Recurring">Recurring</option>
                        </select>
                      </div>

                      <div class="CardEntry-Field">
                        <label for="comments" style="margin-left:10px;">Comments:</label>
                        <input class="FieldInputBox" name="comments" id="comments" type="text"/>
                      </div>

                    </div>
                  </div>
                  <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-info">Submit</button>
                  </div>
                </div>
              </form>
            </div>
        </div>
    </div>
  </div>

  <!-- Modal popup for editing of an existing charge -->
  <div class="modal fade" id="modalEditChargeForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header text-center">
                  <h4 class="modal-title w-100 font-weight-bold">Edit Charge</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="CardEntryContainer">
                <form name="editChargesForm" action="/charges/editCharges" method="post">
                  <div class="CardEntryForm section">
                    <div class="formsection column_2">
                      <div class="content formcolumn">
                        <input type="hidden" id="editFormId" name="editFormId"/>
                        <div class="CardEntry-Field">
                          <label for="editFormChargeDate" style="margin-left:10px;">Charge Date:</label>
                          <input class="FieldInputBox" name="editFormChargeDate" required id="editFormChargeDate" type="date" max="<%=todaysDate%>"/>
                        </div>
                        <div class="CardEntry-Field">
                          <label for="editFormVendor" style="margin-left:10px;">Vendor:</label>
                          <input class="FieldInputBox" name="editFormVendor" required id="editFormVendor" type="text" list="editVendors"/>
                            <datalist id="editVendors">
                              <%for(let i=0; i<vendorList.length; i++) {%>
                                <option><%=vendorList[i]%></option>
                              <%}%>
                            </datalist>
                        </div>
                        <div class="CardEntry-Field">
                          <label for="editFormAmount" style="margin-left:10px;">Amount:</label>
                          <input class="FieldInputBox" name="editFormAmount" required id="editFormAmount" type="number" step=".01"/>
                        </div>
                        <div class="CardEntry-Field">
                          <label for="editFormPaymentType" style="margin-left:10px;">Payment Type:</label>
                          <select class="FieldInputBox" required name="editFormPaymentType" id="editFormPaymentType">
                            <option value="AmEx Platinum">AmEx Platinum</option>
                            <option value="Cash">Cash</option>
                            <option value="Chase Sapphire">Chase Sapphire</option>
                            <option value="Credit">Credit</option>
                            <option value="Debit">Debit</option>
                          </select>
                        </div>
                        <div class="CardEntry-Field">
                          <label for="editFormCategory" style="margin-left:10px;">Category:</label>
                          <select class="FieldInputBox" required name="editFormCategory" id="editFormCategory">
                            <option value="Monthly">Monthly</option>
                            <option value="One-time">One-time</option>
                            <option value="Recurring">Recurring</option>
                          </select>
                        </div>

                        <div class="CardEntry-Field">
                          <label for="editFormComments" style="margin-left:10px;">Comments:</label>
                          <input class="FieldInputBox" name="editFormComments" id="editFormComments" type="text"/>
                        </div>

                      </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                      <button type="Submit" class="btn btn-info" id="btnEdit">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
          </div>
      </div>
    </div>
