<!-- Modal popup for entering a new charge -->
<div class="modal fade" id="modalNewChargeForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="myModalLabel" class="modal-title">Enter a New Charge</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <form name="newChargesForm" action="/charges/newCharges" method="post">
                <div class="form-group">
                  <label for="chargeDate" style="margin-left:10px;">Charge Date:</label>
                  <input class="form-control" name="formChargeDate" required id="formChargeDate" type="date" value="<%=todaysDate%>" max="<%=todaysDate%>"/>
                </div>
                <div class="form-group">
                  <label for="vendor" style="margin-left:10px;">Vendor:</label>
                  <input class="form-control" name="vendor" required id="vendor" type="text" list="vendors"/>
                    <datalist id="vendors">
                      <%for(let i=0; i<vendorList.length; i++) {%>
                        <option><%=vendorList[i]%></option>
                      <%}%>
                    </datalist>
                </div>
                <div class="form-group">
                  <label for="amount" style="margin-left:10px;">Amount:</label>
                  <input class="form-control" name="formAmount" required id="formAmount" type="number" step=".01"/>
                </div>
                <div class="form-group">
                  <label for="paymentType" style="margin-left:10px;">Payment Type:</label>
                  <select class="form-control" required name="paymentType" id="paymentType">
                    <option value="AmEx Platinum">AmEx Platinum</option>
                    <option value="Cash">Cash</option>
                    <option value="Chase Sapphire">Chase Sapphire</option>
                    <option value="Credit">Credit</option>
                    <option value="Debit">Debit</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="category" style="margin-left:10px;">Category:</label>
                  <select class="form-control" required name="category" id="category">
                    <option value="Monthly">Monthly</option>
                    <option value="One-time">One-time</option>
                    <option value="Recurring">Recurring</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="comments" style="margin-left:10px;">Comments:</label>
                  <input class="form-control" name="comments" id="comments" type="text"/>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
        </div>
    </div>
  </div> <!-- End modal for new charges -->

  <!-- Modal popup for editing of an existing charge -->
  <div class="modal fade" id="modalEditChargeForm" tabindex="-1" role="dialog" aria-labelledby="myEditModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 id="myEditModalLabel" class="modal-title">Edit Charge</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <form name="editChargesForm" action="/charges/editCharges" method="post">
					<input type="hidden" id="editFormId" name="editFormId"/>
					<div class="form-group">
					  <label for="editFormChargeDate" style="margin-left:10px;">Charge Date:</label>
					  <input class="form-control" name="editFormChargeDate" required id="editFormChargeDate" type="date" max="<%=todaysDate%>"/>
					</div>
					<div class="form-group">
					  <label for="editFormVendor" style="margin-left:10px;">Vendor:</label>
					  <input class="form-control" name="editFormVendor" required id="editFormVendor" type="text" list="editVendors"/>
						<datalist id="editVendors">
						  <%for(let i=0; i<vendorList.length; i++) {%>
							<option><%=vendorList[i]%></option>
						  <%}%>
						</datalist>
					</div>
					<div class="form-group">
					  <label for="editFormAmount" style="margin-left:10px;">Amount:</label>
					  <input class="form-control" name="editFormAmount" required id="editFormAmount" type="number" step=".01"/>
					</div>
					<div class="form-group">
					  <label for="editFormPaymentType" style="margin-left:10px;">Payment Type:</label>
					  <select class="form-control" required name="editFormPaymentType" id="editFormPaymentType">
						<option value="AmEx Platinum">AmEx Platinum</option>
						<option value="Cash">Cash</option>
						<option value="Chase Sapphire">Chase Sapphire</option>
						<option value="Credit">Credit</option>
						<option value="Debit">Debit</option>
					  </select>
					</div>
					<div class="form-group">
					  <label for="editFormCategory" style="margin-left:10px;">Category:</label>
					  <select class="form-control" required name="editFormCategory" id="editFormCategory">
						<option value="Monthly">Monthly</option>
						<option value="One-time">One-time</option>
						<option value="Recurring">Recurring</option>
					  </select>
					</div>
					<div class="form-group">
					  <label for="editFormComments" style="margin-left:10px;">Comments:</label>
					  <input class="form-control" name="editFormComments" id="editFormComments" type="text"/>
					</div>
					<div class="form-group">
					  <button type="Submit" class="btn btn-primary" id="btnEdit">Update</button>
            <button type="button" data-dismiss="modal" class="btn btn-info">Cancel</button>
					</div>
                </form>
              </div>
          </div>
      </div>
    </div><!-- End modal for updating charges -->

  <!-- Modal popup for the deletion of an existing charge -->
    <div class="modal fade" id="modalDeleteChargeForm" tabindex="-1" role="dialog" aria-labelledby="myDeleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 id="myDeleteModalLabel" class="modal-title">Delete Charge</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <form name="editChargesForm" action="/charges/deleteCharges" method="post">
					    <input type="hidden" id="deleteFormId" name="deleteFormId" readonly/>
					    <div class="form-group">
						    <label for="deleteFormChargeDate" style="margin-left:10px;">Charge Date:</label>
						    <input class="form-control" name="deleteFormChargeDate" required id="deleteFormChargeDate" type="date" max="<%=todaysDate%>" readonly/>
					    </div>
					    <div class="form-group">
						    <label for="deleteFormVendor" style="margin-left:10px;">Vendor:</label>
						    <input class="form-control" name="deleteFormVendor" required id="deleteFormVendor" type="text" list="editVendors" readonly/>
						    <datalist id="deleteVendors">
							    <%for(let i=0; i<vendorList.length; i++) {%>
							    <option><%=vendorList[i]%></option>
							    <%}%>
						    </datalist>
					    </div>
					    <div class="form-group">
						    <label for="deleteFormAmount" style="margin-left:10px;">Amount:</label>
					    	<input class="form-control" name="deleteFormAmount" required id="deleteFormAmount" type="number" step=".01" readonly/>
					    </div>
					    <div class="form-group">
						    <label for="deleteFormPaymentType" style="margin-left:10px;">Payment Type:</label>
						    <select class="form-control" required name="deleteFormPaymentType" id="deleteFormPaymentType" disabled="true">
						      <option value="AmEx Platinum">AmEx Platinum</option>
						      <option value="Cash">Cash</option>
						      <option value="Chase Sapphire">Chase Sapphire</option>
						      <option value="Credit">Credit</option>
						      <option value="Debit">Debit</option>
						    </select>
					    </div>
					    <div class="form-group">
						    <label for="deleteFormCategory" style="margin-left:10px;">Category:</label>
						    <select class="form-control" required name="deleteFormCategory" id="deleteFormCategory" disabled="true">
						      <option value="Monthly">Monthly</option>
						      <option value="One-time">One-time</option>
						      <option value="Recurring">Recurring</option>
						    </select>
					    </div>
					    <div class="form-group">
						    <label for="deleteFormComments" style="margin-left:10px;">Comments:</label>
						    <input class="form-control" name="deleteFormComments" id="deleteFormComments" type="text" readonly/>
					    </div>
              <div class="form-group">
                <button type="Submit" class="btn btn-info" id="btnEdit">Delete</button>
                <button type="button" data-dismiss="modal" class="btn btn-info">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div><!-- End modal for deleting charges -->
